<div class="card">
    <div class="card-body">
        <form name="form" data-ng-submit="userController.createUser()">

            <label>Name</label>
            <input type="text" class="form-control" required data-ng-model="userController.userData.name">

            <label>E-mail</label>
            <input type="email" class="form-control" required data-ng-model="userController.userData.email">

            <label>Password</label>
            <input type="password" name="password" class="form-control" required data-ng-model="userController.userData.password">

            <div class="form-group">
                <label>Re-type password</label>
                <input type="password" name="confirm_password" class="form-control"
                       required
                       compare-to="userController.userData.password"
                       data-ng-model="userController.userData.confirm_password">
                <!--<div data-ng-messages="form.confirmPassword.$error">-->
                    <!--Passwords does not match-->
                <!--</div>-->
            </div>

            <div class="form-group p-1 text-right">

                <md-progress-circular class="progress_loading md-accent md-hue-1" md-diameter="30"
                                      md-mode="indeterminate"
                                      data-ng-show="userController.requestInProgress"></md-progress-circular>

                <input type="submit" class="btn btn-primary"
                       data-ng-disabled="userController.requestInProgress || form.$invalid || isUnchanged(userController.userData)"
                       value="Save">
                <input type="reset" class="btn btn-danger" value="Cancel">
            </div>

        </form>
    </div>
</div>