<div data-ng-init="postController._initListPosts()">

    <div class="row">
        <div class="col-md-9">
            <h3>Posts</h3>
        </div>
        <div class="col-md-3 text-right">
            <button class="btn btn-sm btn-secondary" data-ng-click="postController.listPosts()">
                <i class="fas fa-sync-alt"></i>
            </button>
            <!--<button class="btn btn-sm btn-secondary" data-ng-click="postController.listPublishedPosts()">-->
            <button class="btn btn-sm btn-secondary" data-ng-click="postController.listPosts({ 'withDraft': 'true'})">
                <i class="fas fa-sync-alt"></i> With draft
            </button>
            <button class="btn btn-sm btn-primary" data-ng-click="postController.prepareAddPost()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div data-ng-show="postController._creating || postController._updating" data-ng-include="'views/private/frm-post.html'"></div>

    <div class="p-2" data-ng-repeat="post in postController.postList">
        <section data-ng-class="{'font-italic muted': !post.is_published}">
            <h1 class="h4">
                <a data-ng-href="post/{{post._id}}">{{post.title}}</a>
            </h1>
            <div>
                <p>- by {{post.user.name}}</p>

                <span data-ng-if="post.is_published">Published</span>
                <span data-ng-if="!post.is_published">Draft</span>
            </div>
            <div>
                <button
                        data-ng-click="postController.prepareEditPost(post)"
                        class="btn btn-outline-primary">
                    Edit
                </button>

                <button type="button" class="btn btn-outline-danger" data-ng-show="!deleteIntention" ng-click="deleteIntention = true">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>

                <button type="button" class="btn btn-outline-danger" data-ng-show="deleteIntention" data-ng-click="postController.deletePost(post._id)">
                    <i class="fas fa-ok"></i> Confirm?
                </button>

                <a data-ng-href="./post/{{post._id}}" target="_blank"
                   data-ng-show="post.is_published"
                   class="btn btn-outline-success">
                    View
                </a>
            </div>
        </section>

        <hr>
    </div>

</div>