<div data-ng-init="postController._initListPosts()">

    <div class="row">
        <div class="col-md-9">
            <h3>Posts</h3>
        </div>
        <div class="col-md-3 text-right">
            <button class="btn btn-sm btn-secondary" data-ng-click="postController.listPosts()">
                <i class="fas fa-sync-alt"></i>
            </button>
            <!--<button class="btn btn-sm btn-secondary" data-ng-click="postController.listPublishedPosts()">-->
            <button class="btn btn-sm btn-secondary" data-ng-click="postController.listPosts({ 'withDraft': 'true'})">
                <i class="fas fa-list-alt"></i> With draft
            </button>
            <button class="btn btn-sm btn-primary" data-ng-click="postController.prepareAddPost()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div data-ng-show="postController._creating || postController._updating" data-ng-include="'views/private/frm-post.html'"></div>

    <div class="p-2" data-ng-repeat="post in postController.postList">
        <section>
            <h1 class="h4">
                <a data-ng-href="post/{{post.id}}">{{post.title}}</a>
            </h1>
        </section>

        <hr>
    </div>

</div>