<div data-ng-include src="'views/includes/_menu.v1.html'"></div>


<div class="container container_principal container_home">    
    <!-- BANNER HOME -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="banner_home">
                <a href="/cuidador"><img src="../images/banner_cuidados_pelo_cuidador_1502x600_TABLETB.png"></a>
            </div>
        </div>
    </div>


    <div class="row">

        <!-- NÚMERO CADASTROS CPV -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box_cadastros_cpv_home">
                <!-- <p class="tit">Total de cadastros de PDVs no mês.</p>
                <p class="mes_corrente">SETEMBRO</p>
                <p class="porcentagem">70%</p> -->
                <a href="/saudavel-saber"><img src="../images/banner_saud_saber_cpv_741x500.png"></a>
            </div>
            
        </div>

        <!-- CHAMADA SOLICITAÇÃO MATERIAL PDF -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box_solicite_home">
                <!-- <p class="tit">Solicite o material promocional e promova seu PDV</p>
                <button class="btn_solicitar_material">SOLICITAR!</button> -->
                <a href="/produtos-participantes"><img src="../images/banner_home_produtos.png"></a>
            </div>
            
        </div>

    </div>

    <div class="row">
        
        <!-- CHAMADA DOS RECADOS CPV -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="box_recados">
                <img src="../images/marca_recados.png">
            </div>
        </div>

        <!-- LISTA RECADOS CPV -->
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="box_mensagens">
                
                <ul class="lista_mensagens mensagems_home" data-ng-controller="MensagensController as mensagens" data-ng-init="mensagens.verificaMensagens()">
                    <!-- MENSAGEM -->

                    <li data-ng-repeat="mensagem in mensagens.itemsMensagens | limitTo:1">
                        <span class="icon_mensagem"></span>
                        <p class="nome_mensagem">{{ mensagem.author.name }}</p>
                        <p class="data_mensagem">{{ mensagem.date }}</p>
                        <!-- <p class="texto_mensagem">{{ mensage   m.content }}</p> -->
                        <p class="texto_mensagem" ng-bind-html="toTrustedHTML(mensagem.content | limitTo: 500)"></p>
                        <!-- <p class="texto_mensagem">{{ mensagem.content | limitTo: 300 }}{{mensagem.content.length > 20 ? '...' : ''}} </p> -->
                        <span class="shadow"></span>
                    </li>

                    
                </ul>
                <a href="/mensagens" class="btn_ver_mais_mensagens">VER MAIS</a>
            </div>
        </div>
        
    </div>    

</div>