<div data-ng-include src="'views/includes/_menu.v1.html'"></div>


<div class="container container_principal container_home">
    <!-- BANNER HOME -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="banner_home">
                <a href="/cuidador"><img src="../images/banner_cuidados_pelo_cuidador_1502x600_TABLETB.png"></a>
            </div>
        </div>
    </div>




    <div class="row">

        <!-- CHAMADA DOS RECADOS CPV -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="box_recados">
                <img src="../images/marca_recados.png">
            </div>
        </div>



    </div>

</div>