<div class="container principal" data-ng-init="main._initInicial()">
    <div class="row login_container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopad">
            
            <div class="areaLogin">
                <img class="logo_login" src="" alt="" />
                <p>Esta é uma área restrita dos representantes da Força de Vendas Aché. <a
                        data-ng-href="/login">Entre com sua conta institucional.</a></p>
                
                <p>O acesso ao CPV em Campo deve ser realizado utilizando matrícula do Aché</p>
            </div>
        
        
        </div>
    </div>
    <!-- /row -->
</div>
