<div data-ng-include data-src="'views/includes/_menu.v1.html'"></div>

<div class="container container_principal container_promocional">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-centered">


            <h1>materiais promocionais</h1>


            <h2 class="acabou grey">Acabou algum material que você precise? Solicite por aqui.</h2>

            <form name="formMaterialPromocional"
                  data-ng-init="materialPromocionalController._initDadosMaterialPromocionalPedido()"
                  data-ng-submit="materialPromocionalController.solicitarMaterialPromocional()">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--<p> {{materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao}}</p>-->
                    <ul class="lista_materiais_pdv clearfix">
                        <li ng-repeat="obj in materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao">
                            <label>
                                <input type="checkbox" name="{{obj.nome_material_promocional_opcao}}" data-ng-model="obj.quantidade">{{obj.nome_material_promocional_opcao}}
                            </label>
                            <a href="" ng-click="showModalMaterial(obj.cod_material_promocional_opcao)" class="btn_zoom_promocional"></a>
                        </li>
                        <!--<li>
                            <label>
                                <input type="checkbox" name="adesivo" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[0].quantidade">Adesivo
                            </label>
                            <a href="" class="btn_zoom_promocional"></a>
                        </li>
                        <li>
                            <div class="dupla">
                                <label>
                                    <input type="checkbox" name="adesivo" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[0].quantidade">Adesivo
                                </label>
                                <a href="" ng-click="showModalMaterial('adesivo')" class="btn_zoom_promocional"></a>
                            </div>
                            <div class="dupla">
                                <label>
                                    <input type="checkbox" name="orelha" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[1].quantidade">Orelha
                                </label>
                                <a href="" ng-click="showModalMaterial('orelha')" class="btn_zoom_promocional"></a>
                            </div>
                        </li>
                        <li class="nomargin">
                            <div class="dupla">
                                <label>
                                    <input type="checkbox" name="sacoPapel" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[2].quantidade">Saco de Papel
                                </label>
                                <a href="" ng-click="showModalMaterial('saco')" class="btn_zoom_promocional"></a>
                            </div>
                            <div class="dupla">
                                <label for="bexiga">
                                    <input type="checkbox" name="bexiga" id="bexiga" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[3].quantidade">Bexiga
                                </label> 
                                <a href="" ng-click="showModalMaterial('bexiga')" class="btn_zoom_promocional"></a>
                            </div>
                        </li>
                        <li>
                            <label for="bexiga">
                                <input type="checkbox" name="bexiga" id="bexiga" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[3].quantidade">Bexiga
                            </label> 
                            <a href="" class="btn_zoom_promocional"></a>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="paperApoio" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[4].quantidade">Paper Apoio
                            </label>
                            <a href="" class="btn_zoom_promocional"></a>
                        </li>
                        <li class="nomargin">
                            <label>
                                <input type="checkbox" name="zip" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.listaMaterialPromocionalOpcao[5].quantidade">Zip
                            </label>
                            <a href="" class="btn_zoom_promocional"></a>
                        </li> -->
                    </ul>
                </div>


                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <label class="input_form_promo" for="evento">EVENTO / AÇÃO EM QUE O ITEM SERÁ
                        UTILIZADO<input type="text" id="evento" required data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.nomeEventoUtilizacao"></label>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label class="input_form_promo" for="centrodecusto">CENTRO DE
                        CUSTO<input type="text" id="centrodecusto" required data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.centroCusto"></label>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <label class="input_form_promo" for="contato">NOME DO
                        CONTATO<input type="text" id="contato" required data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.nomeContato"></label>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <label class="input_form_promo" for="telefonecontato">TELEFONE DO
                        CONTATO<input type="text" id="telefonecontato" required data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.telefoneContato" data-ui-mask-placeholder data-ui-mask="(99)99999999?9" data-ui-mask-placeholder-char="space"></label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <label class="input_form_promo" for="emailcontato">E-MAIL<input type="text" id="emailcontato" required data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.emailContato"></label>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label class="input_form_promo" for="cnpj">CNPJ:
                        <input type="text" id="cnpj" required data-ng-cnpj data-ui-mask="99.999.999/9999-99" data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.cnpj"></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>ENDEREÇO DE ENTREGA DO MATERIAL</h2>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 area_cep">
                    <label class="input_form_promo input_cep_promocional" for="cep">CEP
                        <input class="input_form_promo" type="text" id="cep" required data-ui-mask-placeholder data-ui-mask="99999-999"
                               data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.cep"
                               data-ng-blur="materialPromocionalController.buscarEnderecoPeloCep(materialPromocionalController.materialPromocionalPedidoEmEdicao)">
                    </label>
                    <input class="btn_buscar_cep" type="button" value="" data-ng-disabled="materialPromocionalController.requisicaoBuscaEndereco || !materialPromocionalController.materialPromocionalPedidoEmEdicao.cep" data-ng-click="materialPromocionalController.buscarEnderecoPeloCep(materialPromocionalController.materialPromocionalPedidoEmEdicao)">
                    <md-progress-circular class="progress_generic md-accent md-hue-1" md-diameter="30" style="" md-mode="indeterminate" data-ng-show="materialPromocionalController.requisicaoBuscaEndereco"></md-progress-circular>
                </div>


                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 area_logradouro">
                    <label for="cep">LOGRADOURO</label>
                    <div class="container_select">
                        <select class="select_promo" name="tipoLogradouro" required data-ng-init="materialPromocionalController.getTipoLogradouro()"
                                data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.tipoLogradouro"
                                data-ng-disabled="(materialPromocionalController.necessitaVerificarCep && !materialPromocionalController.cepMunicipal)">
                            <option value=""></option>
                            <!--=======================-->
                            <!--OBS: usamos values={{}} para usar o bind. ngValue tem outro uso-->
                            <!--=======================-->
                            <option data-ng-repeat="tipoLogradouro in materialPromocionalController.listaTipoLogradouro"
                                    value="{{tipoLogradouro.nomeTipoLogradouro}}">{{tipoLogradouro.nomeTipoLogradouro}}
                            </option>
                        </select>
                        <span class="btn_select"></span>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="input_form_promo" for="endereco">ENDEREÇO<input type="text" id="endereco" required
                                                                                  data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.endereco"
                                                                                  data-ng-disabled="(materialPromocionalController.necessitaVerificarCep && !materialPromocionalController.cepMunicipal)"></label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <label class="input_form_promo" for="numero">NÚMERO<input type="text" id="numero" required
                                                                              data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.enderecoNumero"></label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <label class="input_form_promo" for="complemento">COMPLEMENTO
                        <input type="text" id="complemento"
                               data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.enderecoComplemento">
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="input_form_promo" for="bairro">BAIRRO<input type="text" id="bairro" required
                                                                              data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.bairro"
                                                                              data-ng-disabled="(materialPromocionalController.necessitaVerificarCep && !materialPromocionalController.cepMunicipal)"></label>

                </div>

                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <label class="input_form_promo" for="cidade">CIDADE
                        <input type="text" id="cidade" required
                               data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.cidade"
                               data-ng-disabled="(materialPromocionalController.necessitaVerificarCep)"></label>

                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="estado">ESTADO</label>
                    <div class="container_select">
                        <select class="select_promo" name="estado" id="estado" required
                                data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.uf"
                                data-ng-disabled="(materialPromocionalController.necessitaVerificarCep)">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AM">AM</option>
                            <option value="AP">AP</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RO">RO</option>
                            <option value="RS">RS</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SE">SE</option>
                            <option value="SP">SP</option>
                            <option value="TO">TO</option>
                        </select>
                        <span class="btn_select"></span>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="input_form_promo" for="horario">MELHOR HORÁRIO PARA ENTREGA<input type="time" id="horario" required data-ng-model="materialPromocionalController.materialPromocionalPedidoEmEdicao.horario"></label>
                </div> -->

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 area_btns">
                    <!-- <input type="submit" value="CANCELAR" class="btn_cancelar_material"> -->
                    <input type="submit" value="ENVIAR" class="btn_enviar_material">
                </div>


            </form>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 area_btns">
                <a href="../images/manual_marca_cuidados_pela_vida.pdf" target="_blank">
                    <img src="../images/banner_baixe_manual.png" class="banner_manual"/>
                </a>
            </div>
        </div>
    </div>
</div>
