<div data-ng-include src="'views/includes/_menu.v1.html'"></div>


<div class="container container_principal container_mensagens" data-ng-init="mensagens.verificaMensagens()">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="coluna_mensagens">
                <div class="box_recados">
                    <img src="../images/marca_recados.png">
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="area_mensagens">
                <ul class="lista_mensagens">
                    <!-- MENSAGEM -->
                    <li ng-repeat="mensagem in mensagens.itemsMensagens">
                        <span class="icon_mensagem"></span>
                        <p class="nome_mensagem">{{ mensagem.author.name }}</p>
                        <p class="data_mensagem">{{ mensagem.date }}</p>
                        <!-- <p class="texto_mensagem">{{ mensagem.content }}</p> -->
                        <p class="texto_mensagem" ng-bind-html="toTrustedHTML(mensagem.content)"></p>
                        
                    </li>
                </ul>
            </div>
                            
        </div>


    </div>
</div>


