<div data-ng-include src="'views/includes/_menu.v1.html'"></div>

<div class="container container_principal container_produtos">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-centered">
            <h1 class="tit_pagina">PRODUTOS PARTICIPANTES</h1>
            <p class="intro_pagina">O Programa Cuidados pela Vida conta com mais de 100 produtos participantes, desde medicamentos prescritos e isentos de prescrição a dermocosméticos, com a qualidade Aché, Biosintética e Profuse.</p>

            <!-- <div class="area_busca">
                <input type="text" placeholder="Digite o nome do produto">
                <button type="submit"></button>
            </div> -->

            <div class="area_produtos">
                <dl class="lista_produtos clearfix produtos_prescritos" data-ng-init="produtos.verificaProdutosPrecritos('medicamentos-prescritos')">
                    <dt ng-click="item1 = !item1">Medicamentos Prescritos<span ng-class="item1 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosPrecritos" ng-class="item1 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>

                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosProtecao('protecao-solar')">
                    <dt ng-click="item2 = !item2">Proteção Solar<span ng-class="item2 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosProtecao" ng-class="item2 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>

                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosPele('pele-sensivel')">
                    <dt ng-click="item3 = !item3">Pele Sensível<span ng-class="item3 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosPele" ng-class="item3 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>
                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosAguas('aguas-para-a-pele')">
                    <dt ng-click="item4 = !item4">Águas para a Pele<span ng-class="item4 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosAguas" ng-class="item4 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>
    
                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosSensivel('pele-oleosa-acneica')">
                    <dt ng-click="item5 = !item5">Pele Oleosa / Acneica<span ng-class="item5 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosSensivel" ng-class="item5 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>   

                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosAntirrugas('antirrugas')">
                    <dt ng-click="item6 = !item6">Antirrugas<span ng-class="item6 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosAntirrugas" ng-class="item6 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>   
                
                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosClareador('clareador')">
                    <dt ng-click="item7 = !item7">Clareador<span ng-class="item7 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosClareador" ng-class="item7 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl> 
                 
                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosDensificador('densificador')">
                    <dt ng-click="item8 = !item8">Densificador<span ng-class="item8 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosDensificador" ng-class="item8 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>
                
                <dl class="lista_produtos clearfix" data-ng-init="produtos.verificaProdutosHidratacao('hidratacao')">
                    <dt ng-click="item9 = !item9">Hidratação<span ng-class="item9 ? 'cima' : 'baixo'" class="icon_seta_faq"></span></dt>
                    <dd ng-repeat="produto in produtos.itemsProdutosHidratacao" ng-class="item9 ? 'item_aberto' : 'item_fechado'">
                        <a href="/produtos-participantes/{{ produto.slug }}">{{ produto.title }}</a>
                    </dd>    
                </dl>

                

    
                   
            </div>
        </div>
    </div>
</div>



