<div data-ng-include src="'views/includes/_menu.v1.html'"></div>

<div class="container container_principal">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="area_img_programa">
                <img class="area_programa" src="../images/area-programa.png">
                
                <a class="btn_baixar_programa" href="../images/guia_programa_cpv.pdf" target="_blank">
                    <img src="../images/btn_baixar_guia_programa.png">
                </a>
            </div>
        </div>
    </div>
</div>
