<div data-ng-include src="'views/includes/_menu.v1.html'"></div>

<div class="container container_principal container_relatorio" data-ng-init="relatorio._init()">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-centered">
            <h1>Relatórios</h1>
            <p>Utilize os filtros abaixo para <strong>acompanhar o desempenho</strong> do <strong>CUIDADOS PELA
                                                                                                  VIDA</strong>. Selecione:
            </p>
            
            <div class="fieldsArea">
                
                <ul class="tab_relatorio" data-ng-init="relatorio.abaAtual = 'farmacias'">
                    <li data-ng-class="{'active' : relatorio.abaAtual == 'farmacias'}"
                            data-ng-click="relatorio.abaAtual = 'farmacias'">
                        FARMÁCIAS
                    </li>
                    <li data-ng-class="{'active' : relatorio.abaAtual == 'medicos'}"
                            data-ng-click="relatorio.abaAtual = 'medicos'">
                        MÉDICOS
                    </li>
                
                </ul>
                
                <!-- tab farmacias -->
                <div class="tabs_form clearfix">
                    
                    
                    <!-- Aba Farmácia -->
                    <div data-ng-show="relatorio.abaAtual === 'farmacias'">
                        <!-- primeira etapa relatorio -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <form name="formLocalizacao">
                                <div class="select_area">
                                    <label for="uf">ESTADO</label>
                                    <select name="uf" id="uf" required
                                            data-ng-change="relatorio.buscarCidadesPorUF(relatorio.dadosLocalizacaoRelatorio.uf)"
                                            data-ng-model="relatorio.dadosLocalizacaoRelatorio.uf">
                                        <option value="">-- Selecione --</option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MT">MT</option>
                                        <option value="MS">MS</option>
                                        <option value="MG">MG</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PR">PR</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RS">RS</option>
                                        <option value="RR">RR</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </div>
                                
                                <div class="select_area">
                                    <label for="cidade">CIDADE</label>
                                    <select name="cidade" id="cidade" required
                                            data-ng-model="relatorio.dadosLocalizacaoRelatorio.cidade"
                                            data-ng-disabled="!relatorio.dadosLocalizacaoRelatorio.uf">
                                        <option value="">-- Selecione --</option>
                                        <!--<option data-ng-repeat="cidade in relatorio.listaCidade | orderBy:'cidade'">-->
                                        <option data-ng-repeat="cidade in relatorio.listaCidade"
                                                data-ng-value="cidade.cidade">
                                            {{cidade.cidade}}
                                        </option>
                                    </select>
                                </div>
                                
                                <div class="input_area">
                                    <label for="cidade">BAIRRO</label>
                                    <input type="text" data-ng-model="relatorio.dadosLocalizacaoRelatorio.bairro"
                                            data-ng-disabled="!relatorio.dadosLocalizacaoRelatorio.cidade">
                                </div>
                                
                                
                                <button class="btn_busca_farma"
                                        data-ng-click="relatorio.buscarListaFarmaciaPorParametrosLocalizacao(relatorio.dadosLocalizacaoRelatorio)"
                                        data-ng-disabled="formLocalizacao.$invalid || relatorio.requestInProgress">
                                    Buscar farmácias
                                </button>
                            </form>
                            
                            <!-- <div>
                                <strong>Parâmetros de localização</strong><br>
                                UF: <strong>{{relatorio.paramsBuscaLocalizacaoFarmacia.uf}}</strong><br>
                                Cidade: <strong>{{relatorio.paramsBuscaLocalizacaoFarmacia.cidade}}</strong><br>
                                Bairro: <strong>{{relatorio.paramsBuscaLocalizacaoFarmacia.bairro | uppercase}}</strong><br>
                            </div> -->
                        
                        
                        </div>
                        <!-- /primeira etapa relatorio -->
                        
                        <!-- segunda etapa relatorio -->
                        <div data-ng-class="relatorio.paramsBuscaLocalizacaoFarmacia? 'active' : 'inactive'"
                                class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bloco_direito">
                            <form class="etapa2_relatorio" name="formDadosRelatorio"
                                    data-ng-disabled="relatorio.listaFarmacia.length !== 0 && relatorio.requisicaoBuscaFarmaciaEmAndamento === false"
                                    xdata-ng-show="relatorio.listaFarmacia.length !== 0 && relatorio.requisicaoBuscaFarmaciaEmAndamento === false">
                                <div class="select_area">
                                    <label for='farmacia'>Farmácia:<span> *</span></label>
                                    <select name="farmacia" id="farmacia" required
                                            data-ng-model="relatorio.dadosRelatorio.farmacia"
                                            data-ng-options="farmacia.nomeFantasia + ' / Bairro: ' + farmacia.bairro + ' / CNPJ: ' + farmacia.cnpj for farmacia in relatorio.listaFarmacia">
                                        <option value="">-- Selecione --</option>
                                    </select>
                                </div>
                                <div class="select_area">
                                    <label>Marca:<span> *</span></label>
                                    <select name="marca" id="marca" required data-ng-init="relatorio.buscarListaMarca()"
                                            data-ng-model="relatorio.dadosRelatorio.marca"
                                            data-ng-options="marca.marca for marca in relatorio.listaMarca">
                                        <option value="">-- Selecione --</option>
                                    </select>
                                </div>
                                
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorDiaFarmacia7DiasD_1(relatorio.dadosRelatorio.farmacia.cnpj, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorio.$invalid  || relatorio.requestInProgress">
                                    Processar relatórios
                                </button>
                            </form>
                        </div>
                        <!-- /segunda etapa relatorio -->
                    </div>
                    <!-- /Aba Farmácia -->
                    
                    <!-- Aba Médicos -->
                    <div data-ng-show="relatorio.abaAtual === 'medicos'">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-centered">
                            <form name="formLocalizacaoMedico">
                                <div class="select_area">
                                    <label for="ufDocumentoProfissional">ESTADO</label>
                                    <select name="ufDocumentoProfissional" id="ufDocumentoProfissional" required
                                            data-ng-model="ufDocumentoProfissional">
                                        <option value="">-- Selecione --</option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MT">MT</option>
                                        <option value="MS">MS</option>
                                        <option value="MG">MG</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PR">PR</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RS">RS</option>
                                        <option value="RR">RR</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </div>
                                
                                <div class="input_area">
                                    <label for="cidadeMedicos">CRM</label>
                                    <input type="text" name="cidadeMedicos" id="cidadeMedicos" required
                                            data-ng-model="numeroDocumentoProfissional"
                                            data-ng-disabled="!ufDocumentoProfissional">
                                </div>
                                
                                <h3 data-ng-show="!relatorio.dadosRelatorio.medico && relatorio.requisicaoBuscaMedicoEmAndamento === false">
                                    <em>Nenhum médico encontrado para esta seleção.</em>
                                </h3>
                                <!--<button class="btn_busca_farma"-->
                                <!--data-ng-click="relatorio.buscarMedicoCadastradoById(ufDocumentoProfissional, numeroDocumentoProfissional)"-->
                                <!--data-ng-disabled="formLocalizacaoMedico.$invalid || relatorio.requestInProgress">-->
                                <!--Buscar médico-->
                                <!--</button>-->
                            </form>
                            <form name="formDadosRelatorioMedico">
                                <!--<div class="select_area">-->
                                <!--<label for='medico'>Médico:<span> *</span></label>-->
                                <!--<input type="text" name="medico" id="medico" readonly required-->
                                <!--data-ng-model="relatorio.dadosRelatorio.medico.nome">-->
                                <!--</div>-->
                                <div class="select_area">
                                    <label>Marca:<span> *</span></label>
                                    <select name="marcaMedico" id="marcaMedico" required
                                            data-ng-init="relatorio.buscarListaMarca()"
                                            data-ng-model="relatorio.dadosRelatorio.marca"
                                            data-ng-options="marca.marca for marca in relatorio.listaMarca">
                                        <option value="">-- Selecione --</option>
                                    </select>
                                </div>
                                
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorDiaMedico7DiasD_1V1(ufDocumentoProfissional, numeroDocumentoProfissional, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorioMedico.$invalid || relatorio.requestInProgress">
                                    Processar relatórios
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- /Aba Médicos -->
                
                
                </div>
                <!-- /tab farmacias -->
                
                <!-- Loading -->
                <!-- <div data-ng-show="relatorio.requestInProgress">
                    Carregando...
                    <md-progress-circular class="progress_generic md-accent md-hue-1" md-diameter="30" style="" md-mode="indeterminate" data-ng-show="relatorio.requestInProgress"></md-progress-circular>
                </div> -->
                
                
                <div>
                    
                    <!-- RELATÓRIOS DE FARMÁCIA -->
                    
                    <h3 data-ng-show="relatorio.listaFarmacia.length === 0 && relatorio.requisicaoBuscaFarmaciaEmAndamento === false">
                        <em>Nenhuma farmácia encontrada para esta seleção.</em>
                    </h3>
                    
                    <md-progress-circular class="progress_relatorios progress_generic md-accent md-hue-1"
                            md-diameter="30" style="" md-mode="indeterminate"
                            data-ng-show="relatorio.requestInProgress"></md-progress-circular>
                    
                    <div data-ng-show="relatorio.abaAtual === 'farmacias'">
                        
                        <!--<ul class="btns_relatorio" data-ng-show="relatorio.trincaFarmacia">-->
                        <ul class="btns_relatorio" data-ng-show="formDadosRelatorio.$valid">
                            <li data-ng-init="relatorio.relatorioAtual = 'setedias'"
                                    data-ng-class="{'active' : relatorio.relatorioAtual == 'setedias'}"
                                    data-ng-click="relatorio.relatorioAtual = 'setedias'">
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorDiaFarmacia7DiasD_1(relatorio.dadosRelatorio.farmacia.cnpj, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorio.$invalid  || relatorio.requestInProgress">
                                    Últimos 7 Dias
                                </button>
                            </li>
                            <li data-ng-class="{'active' : relatorio.relatorioAtual == 'mesatual'}"
                                    data-ng-click="relatorio.relatorioAtual = 'mesatual'">
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorDiaFarmaciaMesAtual(relatorio.dadosRelatorio.farmacia.cnpj, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorio.$invalid  || relatorio.requestInProgress">
                                    Mês Atual
                                </button>
                            </li>
                            <li data-ng-class="{'active' : relatorio.relatorioAtual == 'tresmeses'}"
                                    data-ng-click="relatorio.relatorioAtual = 'tresmeses'">
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorMesFarmacia3MesesM_1(relatorio.dadosRelatorio.farmacia.cnpj, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorio.$invalid  || relatorio.requestInProgress">
                                    Três Meses
                                </button>
                            </li>
                        </ul>
                        <div data-ng-show="relatorio.relatorioAtual === 'setedias'">
                            <div data-ng-show="relatorio.listaDadosCompraRecompra7Dias">
                                <!-- {{relatorio.listaDadosCompraRecompra7Dias|json}} -->
                                <canvas chart-colors="relatorio.coresPadraoGraficos" id="bar" class="chart chart-bar"
                                        chart-data="relatorio.dadosCompraRecompraFarmacia7Dias" chart-options="options" chart-labels="labels"
                                        chart-series="relatorio.seriesPadraoGraficos"></canvas>
                            </div>
                        </div>
                        <div data-ng-show="relatorio.relatorioAtual === 'mesatual'">
                            <div data-ng-show="relatorio.listaDadosCompraRecompraMesAtual">
                                
                                <canvas chart-colors="relatorio.coresPadraoGraficos" id="line" chart-options="options" class="chart chart-line"
                                        chart-data="relatorio.dadosMesAtualFarmacia"
                                        chart-labels="relatorio.labelMesAtualFarmacia"
                                        chart-series="relatorio.seriesPadraoGraficos"></canvas>
                            </div>
                        </div>
                        <div data-ng-show="relatorio.relatorioAtual === 'tresmeses'">
                            <div data-ng-show="relatorio.listaDadosCompraRecompra3Meses">
                                <canvas chart-colors="relatorio.coresPadraoGraficos" id="bar2" chart-options="options" class="chart chart-bar"
                                        chart-data="dataTres" chart-labels="labelsTres"
                                        chart-series="relatorio.seriesPadraoGraficos"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /RELATÓRIOS DE FARMÁCIA -->
                    
                    
                    <!-- RELATÓRIOS DE MÉDICOS -->
                    <div data-ng-show="relatorio.abaAtual === 'medicos'">
                        <ul class="btns_relatorio" data-ng-show="relatorio.trincaMedicos">
                            <li data-ng-init="relatorio.relatorioAtualMedicos = 'setediasMedicos'"
                                    data-ng-class="{'active' : relatorio.relatorioAtualMedicos == 'setediasMedicos'}">
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorDiaMedico7DiasD_1V1(ufDocumentoProfissional, numeroDocumentoProfissional, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorioMedico.$invalid || relatorio.requestInProgress">
                                    Últimos 7 Dias
                                </button>
                            </li>
                            <li data-ng-class="{'active' : relatorio.relatorioAtualMedicos == 'mesatualMedicos'}">
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorDiaMedicoMesAtualV1(ufDocumentoProfissional, numeroDocumentoProfissional, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorioMedico.$invalid || relatorio.requestInProgress">
                                    Mês Atual
                                </button>
                            </li>
                            <li data-ng-class="{'active' : relatorio.relatorioAtualMedicos == 'tresmesesMedicos'}">
                                <button class="btn_processar_relatorio"
                                        data-ng-click="relatorio.processarDadosCompraRecompraPorMesMedico3MesesM_1V1(ufDocumentoProfissional, numeroDocumentoProfissional, relatorio.dadosRelatorio.marca.id_marca)"
                                        data-ng-disabled="formDadosRelatorioMedico.$invalid || relatorio.requestInProgress">
                                    Três Meses
                                </button>
                            </li>
                        </ul>
                        
                        <div data-ng-show="relatorio.relatorioAtualMedicos === 'setediasMedicos'">
                            <div data-ng-show="relatorio.listaDadosCompraRecompra7DiasMedico">
                                <canvas chart-colors="relatorio.coresPadraoGraficos"
                                        id="bar_listaDadosCompraRecompra7DiasMedico" chart-options="options" class="chart chart-bar"
                                        chart-data="relatorio.data7DiasMedico"
                                        chart-labels="relatorio.labels7DiasMedico"
                                        chart-series="relatorio.seriesPadraoGraficos"></canvas>
                            </div>
                        </div>
                        <div data-ng-show="relatorio.relatorioAtualMedicos === 'mesatualMedicos'">
                            <div data-ng-show="relatorio.listaDadosCompraRecompraMesAtualMedico">
                                <canvas chart-colors="relatorio.coresPadraoGraficos"
                                        id="line_listaDadosCompraRecompraMesAtualMedico" chart-options="options" class="chart chart-line"
                                        chart-data="relatorio.dadosMesAtualMedico"
                                        chart-labels="relatorio.labelsMesAtualMedico"
                                        chart-series="relatorio.seriesPadraoGraficos"></canvas>
                            </div>
                        </div>
                        <div data-ng-show="relatorio.relatorioAtualMedicos === 'tresmesesMedicos'">
                            <div data-ng-show="relatorio.listaDadosCompraRecompra3MesesMedico">
                                <canvas chart-colors="relatorio.coresPadraoGraficos" id="bar_listaDadosCompraRecompra3MesesMedico"
                                        chart-options="options" class="chart chart-bar" chart-data="relatorio.dados3MesesMedico"
                                        chart-series="relatorio.seriesPadraoGraficos"
                                        chart-labels="relatorio.labels3MesesMedico"></canvas>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /RELATÓRIOS DE MÉDICOS -->
                    
                    <md-progress-circular class="progress_relatorios progress_generic md-accent md-hue-1"
                            md-diameter="30" style="" md-mode="indeterminate"
                            data-ng-show="relatorio.requestInProgress"></md-progress-circular>
                
                    <p class="fonte-grafico la-fonte"><strong>Fonte: Cuidados Pela Vida</strong>. Estes dados são confidenciais e foram extraídos no dia <strong>{{date | date:'dd-MM-yyyy'}}</strong> para <strong>{{$root.sessao.usuario.nome}}</strong>, não sendo permitida sua reprodução ou compartilhamento.</p>
                </div>
            
            </div>
        </div>
    
    
    </div>
</div>