<header class="header_app">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span class="logo"></span>    
                <div class="sair">
                    <a href="" data-ng-click="$root.sair()"><span></span>Sair</a>
                </div>
                <div class="ola">
                        <!-- Olá, <span>{{$root.sessao.getUsuario().nome}}</span> | <span>{{$root.sessao.getUsuario().id}}</span> -->
                        Olá, <span>{{$root.sessao.usuario.nome}}</span>
                    </div>
            </div>
        </div>
    </div>
    
</header>