<content data-ng-show="postController.postSingle" data-ng-init="postController._initPostSingle()">

    <h1>{{postController.postSingle.title}}</h1>

    <!--<marked>{{postController.postSingle.content}}</marked>-->
    <!--<div>{{postController.postSingle.content}}</div>-->
    <!--<div btf-markdown="postController.postSingle.content"></div>-->
    <div marked="postController.postSingle.content"></div>

    <footer>
        Created at: {{postController.postSingle.created_at | date:'dMY'}}
    </footer>

</content>