<content data-ng-show="publicPostController.postSingle" data-ng-init="publicPostController._initPostSingle()">

    <h1>{{publicPostController.postSingle.title}}</h1>

    <p><em>- by: <strong>{{publicPostController.postSingle.user.name}}</strong></em></p>

    <div marked="publicPostController.postSingle.content"></div>

    <footer>
        <em>
            Created at: {{publicPostController.postSingle.created_at | date:format:'dd-MM-YYYY HH:mm'}} |
            Updated at: {{publicPostController.postSingle.updated_at | date:format:'dd-MM-YYYY HH:mm'}}
        </em>
    </footer>

</content>