<div data-ng-include src="'views/includes/_menu.v1.html'"></div>

<div class="container container_principal container_farmacia">

    <div class="row area_cadastro_geral">
        
        <!-- COLUNA ESQUERDA -->
        <div class="col-xs-12 col-sm-3">
            <img class="icon_convite_farmacia hidden-xs" src="../images/img_icone_cadastro_farmacia.png" alt=""/>
            <h1 class="tit_page_cadastro_paciente">Farmácias</h1>
            <ul class="etapa_cadastro_pacientes">
                <li ng-click="setTab(1)" ng-class="{ active: isSet(1) }">PASSO A PASSO CREDENCIAMENTO</li>
                <li ng-click="setTab(2)" ng-class="{ active: isSet(2) }" data-ng-show="$root.sessao.usuario.cargo == 'PROPAGANDISTA'">INDICAR FARMÁCIA</li>
                <li ng-click="setTab(3)" ng-class="{ active: isSet(3) }">STATUS DE CREDENCIAMENTO</li>
            </ul>
        </div>

        <!-- COLUNA DIREITA -->
        <div class="col-xs-12 col-sm-9 no-pad">
            <div class="col-xs-12 no-pad area_farma_borda" id="div-inicio-cadastro">
                
                <!-- PASSO A PASSO CREDENCIAMENTO -->
                <div ng-show="isSet(1)">
                    <h2 class="tit_farmacias azul">FARMÁCIAS</h2>
                    <dl class="passo-a-passo-farma">
                        <dt>Uma farmácia é considerada parceira quando:</dt>
                        <dd>Não troca prescrições dos produtos Aché</dd>
                        <dd>Cadastra os lançamentos</dd>
                        <dd>Apresenta evolução na venda de produtos Aché</dd>
                    </dl>
                    <p class="tit_passoapasso azul">Passo a passo</p>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pad">
                        <img class="img_passos_farmacia" src="../images/passos_farmacia.png" alt=""/>
                    </div>
                    <button ng-click="setTab(2)" class="btn_indique_farmacia" data-ng-show="$root.sessao.usuario.cargo == 'PROPAGANDISTA'">INDIQUE UMA FARMÁCIA</button>
                </div>

                <!-- CONVIDAR FARMÁCIA -->
                <div ng-show="isSet(2)">

                    <h2 class="tit_farmacias azul">INDICAR FARMÁCIA</h2>

                    <div class="formulario_convite" data-ng-hide="farmacia.conviteEnviado">
                        
                        <form name="formConviteFarmacia" class="form_envia_convite" data-ng-submit="farmacia.accreditedLead()">
                            
                            <label class="acordo"><input type="checkbox" data-ng-model="disablelist" name="acordo_farmacia" required value="acordo_farmacia" />Eu como colaborador estou ciente de que a farmácia indicada por mim para participar do Programa <span class="span_marca">CUIDADOS PELA VIDA</span>, atende aos requisitos de <a ng-click="setTab(1)" >Farmácia parceira</a>.
                            </label>
                            
                            <div class="cpf_area">
                                <label>CNPJ DA FARMÁCIA</label>
                                <input class="farmacia_email" type="text" name="cnpj" placeholder=""
                                        data-ng-model="farmacia.conviteFarmacia.cnpjResponsavelFarmacia"
                                        data-ng-blur="farmacia.accreditedLeadStatus()"
                                        data-ui-mask-placeholder data-ui-mask="99.999.999/9999-99"
                                        data-ui-mask-placeholder-char="space"
                                        data-ng-disabled="!disablelist">
                            </div>

                            <div class="cpf_area">
                                <label>NOME DA FARMÁCIA</label>
                                <input class="farmacia_email" type="text" name="razaoSocial" placeholder=""
                                        data-ng-model="farmacia.conviteFarmacia.nomeFarmacia"
                                        data-ng-disabled="!disablelist"
                                        data-ng-required="true">
                            </div>

                            <div class="matricula_area">
                                <label>TELEFONE DA FARMÁCIA</label>
                                <input class="farmacia_celular" type="text" name="telefone"
                                        placeholder="" data-ui-mask-placeholder data-ui-mask="(99) 99999999"
                                        data-ng-model="farmacia.conviteFarmacia.telefoneResponsavelFarmacia"
                                        data-ng-disabled="!disablelist"
                                        data-ng-required="true">
                            </div>

                            <div class="cpf_area">
                                <label>E-MAIL DA FARMÁCIA</label>
                                <input class="farmacia_email" type="email" name="email" placeholder=""
                                        data-ng-model="farmacia.conviteFarmacia.emailResponsavelFarmacia"
                                        data-ng-disabled="!disablelist"
                                        data-ng-required="true">
                            </div>

                            <div class="cpf_area">
                                <label>RESPONSÁVEL PELA FARMÁCIA</label>
                                <input class="farmacia_email" type="text" name="responsavel" placeholder=""
                                        data-ng-model="farmacia.conviteFarmacia.nomeResponsavelFarmacia"
                                        data-ng-disabled="!disablelist"
                                        data-ng-required="true">
                            </div>
                            
                            <div class="matricula_area">
                                <label>CELULAR DO RESPONSÁVEL</label>
                                <input class="farmacia_celular" type="text" name="telefone"
                                        placeholder="" data-ui-mask-placeholder data-ui-mask="(99) 999999999"
                                        data-ng-model="farmacia.conviteFarmacia.celularResponsavelFarmacia"
                                        data-ng-disabled="!disablelist"
                                        data-ng-required="true">
                            </div>
                            <div class="btn_login_area">
                                <input type="submit" value="ENVIAR" class="btn_login btn_enviar_convite" data-ng-disabled="farmacia.requisicaoEmAndamento || formConviteFarmacia.$invalid">
                                <md-progress-circular class="loading_farma progress_adicionar progress_generic md-accent md-hue-1 loading" md-diameter="30" md-mode="indeterminate" data-ng-show="farmacia.requisicaoEmAndamento"></md-progress-circular>
                            </div>
                        </form>

                    </div>     
                    
                    <div class="sucesso_convite" data-ng-show="farmacia.conviteEnviado">

                        <img class="img_curtir_sucesso" src="../images/img_curtir.png" />
                        <h3 class="tit_enviado_sucesso azul">ENVIADO COM SUCESSO!</h3>
                        <p class="sub_tit_enviado_sucesso">Sua indicação foi recebida com sucesso e será analisada pelo seu Gerente Distrital.</p>
                        <p class="cod_solicitacao">O cógido de solicitação desse estabelecimento é: <span>{{farmacia.conviteCodigo}}</span></p>
                        <p class="tit_passoapasso azul">PRÓXIMOS PASSOS:</p>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pad">
                            <img class="img_passos_farmacia" src="../images/passos_farmacia_2.png" alt=""/>
                        </div>
                        <button ng-click="setTab(3)" class="btn_indique_farmacia">VER RELATÓRIO</button>

                    </div>

                </div>

                <!-- STATUS DE CREDENCIAMENTO -->
                <div ng-show="isSet(3)" class="footer_farmacias">

                    <h2 class="tit_farmacias azul">RELATÓRIO DE FARMÁCIAS</h2>

                    <form name="formBuscaFarmacia" class="form_envia_convite">

                        <div class="row area_busca_cnpj">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-pad-left">
                                <div class="matricula_area">
                                    <label>CNPJ</label>
                                    <input class="farmacia_email" type="text" name="cnpj" placeholder=""
                                                data-ng-model="farmacia.buscaFarmacia.cnpjResponsavelFarmacia"
                                                data-ui-mask-placeholder data-ui-mask="99.999.999/9999-99"
                                                data-ui-mask-placeholder-char="space"
                                                placeholder="CNPJ" >
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-pad-left">
                                <div class="btn_login_area consulta">
                                    <input type="submit" value="CONSULTAR" class="btn_login consulta" data-ng-click="farmacia.accreditedLeadGet()" data-ng-disabled="farmacia.requisicaoEmAndamento || formBuscaFarmacia.$invalid">
                                    <md-progress-circular class="loading_farma progress_consultar progress_generic md-accent md-hue-1 loading" md-diameter="30" md-mode="indeterminate"
                                data-ng-show="farmacia.requisicaoEmAndamento"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    
                    </form>

                    <hr />

                    <h3 ng-show="farmacia.arrConvites.length > 0" class="azul">SELECIONE A FARMÁCIA</h3>

                    <!-- <h3 ng-show="farmacia.arrConvites.length == 0" class="azul sem_resultado">NENHUMA SOLICITAÇÃO ENCONTRADA</h3> -->

                    <ul class="lista_convite_farmacia">

                        <li class="clearfix" ng-repeat="item in farmacia.arrConvites">

                            <div class="row">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    
                                    <p class="nome_farmacia">{{item.fantasyName}}</p>
                                    <p class="cnpj_farmacia"><span>CNPJ:</span> {{item.cnpj | cnpjFormatado}}</p>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="area_tooltip">
                                        <p class="cod_farmacia">CÓDIGO: <span>{{item.salesForceId}}</span></p>
                                        <div class="status_farmacia">
                                            <p>STATUS</p>
                                            <span ng-class="{'status1' : item.status == 'Reprovado'} " class="icon_status_farmacia"></span>  
                                            <span>{{item.status}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slideDown area_oculta" ng-hide="!active">
                                
                                <!-- DADOS DA FARMÁCIA -->
                                <div class="">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="sub_tit_farma azul row_separator">FARMÁCIA</p>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <p class="responsavel">RESPONSÁVEL PELA FARMÁCIA<span>{{item.responsibleName}}</span></p>
                                        <p class="responsavel_email">{{item.responsibleEmail}}</p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p>TELEFONE<span>{{item.responsiblePhone}}</span></p>
                                    </div>
                                </div>
                                
                                <!-- REPRESENTANTE DA FARMÁCIA -->
                                <div class="">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="sub_tit_farma azul row_separator">REPRESENTANTE</p>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <p class="responsavel">NOME DO SOLICITANTE<span>{{item.agentName}}</span></p>
                                        <p class="responsavel_email">{{item.agentEmail}}</p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p>TELEFONE<span>{{item.agentMobilePhone}}</span></p>
                                    </div>
                                </div>

                                <!-- GERENTE DISTRITAL DA FARMÁCIA -->
                                <div class="">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="sub_tit_farma azul row_separator">GERENTE DISTRITAL</p>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <p class="responsavel">NOME DO GERENTE DISTRITAL<span>{{item.managerName}}</span></p>
                                        <p class="responsavel_email">{{item.managerEmail}}</p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p>TELEFONE<span>{{item.managerMobilePhone}}</span></p>
                                    </div>
                                </div>

                                <!-- INFOS GERAIS -->
                                <div class="" data-ng-show="$root.sessao.usuario.cargo == 'GERENTE'">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="row_separator">DATA DA SOLICITAÇÃO<span>{{item.registrationDate | date: 'dd/MM/yyyy'}}</span></p>
                                        <p>RECOMENDAÇÃO SISTÉMICA<span>{{item.recommended ? 'Recomendado' : 'Não recomendado'}}.</span></p>
                                    </div>
                                </div>    
                            </div>

                            <div class="area_btns_farma" style="cursor:pointer;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a class="btn_autorizacao" data-ng-show="$root.sessao.usuario.cargo == 'GERENTE' && item.status.toUpperCase() == 'AGUARDANDO APROVAÇÃO DO GD' && item.managerEmail.toUpperCase() == $root.sessao.usuario.Email.toUpperCase()"
                                       data-ng-click="farmacia.showMisModal(item.salesForceId)">AUTORIZAÇÃO</a>
                                    <div class="ver_detalhes">
                                        <a ng-hide="active" ng-click="active = !active" ng-class="{'item_farmacia_aberto': active, 'expandcollapse-item_farmacia_fechado': !active}">VER MAIS DETALHES</a>
                                        <a ng-hide="!active" ng-click="active = !active" ng-class="{'item_farmacia_aberto': active, 'expandcollapse-item_farmacia_fechado': !active}">OCULTAR DETALHES</a>
                                    </div>
                                </div>
                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>

            

            
